<h2>Editing Tag <%= @tag.id %></h2>
<form method="POST" action="/tags/<%= @tag.id %>">
  <input type="hidden" name="_method" value="put">
  <div class="form">


    <div class="form">
      <label for="category">Category:</label>
      <input type="text" name="category" id="category"
      value="<%= @tag.category %>"/>
    </div>


<div class="form">
  <input type="submit" value="Save Tag"/>
</div>

</div>
</form>
