<h2>All Vendors</h2>

<a href='/vendors/new'>Add a new vendor</a>

<div id="vendor table">
  <table>
    <tr>
      <th> Category</th>
    </tr>
  <% @vendors.each do |vendor| %>
   <tr>
     <td><%= vendor.name %></td>
     <td> <a href="/vendors/<%= vendor.id %>/edit">Edit</a> </td>
     <td> <form action="/vendors/<%= vendor.id %>/delete" method="POST"><input type="submit" value="Delete"></form> </td>
    <% end %>

    </tr>

 </table>
