<!DOCTYPE html>
<html>
<head>
  <title>TheMoneyApp</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <a href='/'>Dashboard</a> <a href='/transactions'>All Transactions</a> <a href='/tags'>Categories</a> <a href='/vendors'>Vendors</a>
    <a href='/budgets/1/edit'>Change Budget</a> <a href='/transactions/new'>Add Transaction</a>  
  </nav>

  <%= yield %>

</body>
</html>
