<!DOCTYPE html>
<html>
<head>
  <title>BudgetBoard</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
  <nav id="menu">
    <a href='/'>Dashboard</a> <a href='/transactions'>All Transactions</a> <a href='/transactions/new'>Add New Transaction</a>
  </nav>

  <body>

  <%= yield %>

</body>
</html>
