<!DOCTYPE html>
<html>
<head>
  <title>BudgetBored</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <nav id="menu">
    <a href='/'>Dashboard</a> <a href='/transaction/delete'>Clear the Board and Set a new Budget</a> <a href='/transactions/new'>Add Transaction</a>
  </nav>

  <%= yield %>

</body>
</html>
