<h1> ::BudgetBoard:: Add a New Transaction</h1>
<form method="POST" action="/transactions">
  <div class="form">

    <div class="form">
      <label for="name">Description:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form">
      <label for="price">Price in Pence:</label>
      <input type="number" name="price" id="price"/>
    </div>

    <div class="form">
      <label for="vendor-select">Select Vendor:</label>
      <select name="vendor_id" id="vendor_select">
        <option value="" disabled selected>Select Vendor</option></option>
        <% @vendors.each do |vendor| %>
        <option value=<%= vendor.id %>><%= vendor.name.capitalize %></option>
        <% end %>
      </select>
      <a href='/vendors/new'>Add<a>
    </div>

    <div class="form">
      <label for="tag-select">Select Tag:</label>
      <select name="tag_id" id="tag_select">
        <option value="" disabled selected>Select Category</option></option>
        <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.category.capitalize %></option>
        <% end %>
      </select>
      <a href='/tags/new'>Add<a>
      </div>

    <div class="form">
      <label for="date">Date:</label>
      <input type="date" name="date" id="date"/>
    </div>

    <div class="form">
      <label for="comment">Comments:</label>
      <input type="text" name="comment" id="comment"/>
    </div>

    <div class="form">
      <input type="submit" value="Upload Transaction"/>
    </div>

  </div>
</form>
<a href='/transactions'>Back to Transactions</a>
