<h2>New Budget </h2>
<form method="POST" action="/budgets">
  <div class="form">

    <div class="form">
      <label for="balance">New Budget Balance:</label>
      <input type="number" name="balance" id="balance"/>
    </div>

    <div class="form">
      <input type="submit" value="Save New Budget"/>
    </div>

  </div>
</form>
