<h1> ::BudgetBoard:: </h1>

<p>Vendor Name: <%= @vendor.name %></p>


<a href="/vendors/<%= @vendor.id %>/edit">Edit Name</a>
<form action="/vendors/<%= @vendor.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<a href='/transactions/'>Back to Transactions</a>
