<h2><%=  %></h2>

<p>Category: <%= @tag.category %></p>


<a href="/tags/<%= @tag.id %>/edit">Edit Category</a>
<form action="/tags/<%= @tag.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
